.home-container {
  position: relative;
  
}
.background-home {
  background-image: url("../../../assets/img/black-tablero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: 100vh;
  width: 100%;
}



.navbar-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.container_return_btn {
  position: fixed;
  top: 20px;
  right: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.return_btn {
  position: absolute;
  top: 5px;
  background: linear-gradient(180deg, #fdc50f 26.71%, #fb982f 99.36%);
  box-shadow: 0px 20px 24px 3px rgba(251, 161, 40, 0.42);
  border-radius: 34px;
  border: 1px solid white;
  color: white;
  font-size: 16px;
  padding: 11px 26px 11px 26px;
  width: 120px;
  right: 10px;
}

.return_btn:hover {
  background: white;
  cursor: pointer;
  border: 1px solid var(--orange);
  color: var(--orange);
}

.paginado-container {
  position: fixed;
  top: 80px;
  padding-bottom: 10px;
  margin-left: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery_container {
  position: fixed;
  top: 145px;
  left: 60%;
  transform: translateX(-50%);
  width: 70%;
  max-width: 1200px;
  height: calc(100vh - 150px);
  overflow-y: scroll;
  margin: 0;
}
.gallery_container::-webkit-scrollbar {
  width: 10px;
}

.gallery_container::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #fdc50f, #fb982f);
  border-radius: 10px;
}

.gallery_container::-webkit-scrollbar-track {
  background: rgba(34, 33, 33, 0.65);
}

.gallary_image_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.gallary_image_box .card {
  width: calc((100% / 3) - (2 * (2px / 3)));
  margin-bottom: 10%;
  box-shadow:
    -1.6px -1.6px rgba(255,255,255,0.05),
    -3.3px -3.3px rgba(255,255,255,0.075),
    -5.6px -5.6px rgba(255,255,255,0.1),
    -8.4px -8.4px rgba(255,255,255,0.125),
    -11.9px -11.9px rgba(255,255,255,0.15),
    -16.3px -16.3px rgba(255,255,255,0.175),
    -21.8px -21.8px rgba(255,255,255,0.2),
    -28.5px -28.5px rgba(255,255,255,0.225),
    -36.6px -36.6px rgba(255,255,255,0.25),
    -46.5px -46.5px rgba(255,255,255,0.275),
    -59.7px -59.7px rgba(255,255,255,0.3);
  border-radius: 15%;
}